
header{
    background-color: darkgrey;
    height: 50px;
    font-size: 24px;
    border: black;
    border: 2px solid;
    padding: 10px;
    text-align: center;  
    text-justify: auto;
    margin-bottom: 15px;
} 
body{
    background-color: khaki;
}
#instructions{
    background-color: darkgrey;
    height: 50px;
    width: 980px;
    font-size: 24px;
    border: black;
    border: 2px solid;
    padding: 20px;
    text-align: center;
    margin-bottom: 15px;
} 

/* Crystals */
#Crystal1{
    float: left;
}
#Crystal2{
    float: left;
}
#Crystal3{
    float: left;
}
Crystal4{
    float: left;
}
#message{
    background-color: lightskyblue ;
    height: 50px;
    width: 980px;
    font-size: 12px;
    border: black;
    border: 2px solid; 
    padding: 20px;
    text-align: center;  
    margin-bottom: 15px;  
}
#results{
    background: green;
}
footer{
    background-color: darkgrey;
    height: 50px;
    font-size: 18px;
    border: black;
    border: 2px solid;
    padding: 10px;
    text-align: center;  
    text-justify: auto;
    margin-top: 25px  
}